<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
        <mat-card-header>
            <mat-card-title>
            Course List
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        <mat-list dense>
            <mat-list-item *ngFor="let course of courses" (click)="selectCourse(course.id)">
                {{course.title}}
            </mat-list-item>
        </mat-list>

        </mat-card-content>
        </mat-card>
    </div>

    <div class="course-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Select Course
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

            <span *ngIf="selectedCourseID; else elseSelectedCourse">{{getCurrentCourse().title}}</span>
            <ng-template #elseSelectedCourse>Select course</ng-template>

            </mat-card-content>
            <mat-card-actions>

            <!-- COURSE ACTIONS -->

            </mat-card-actions>
        </mat-card>
    </div>
</div>
